.MoviePage{
    display: flex;
    background-color: var(--secondary-color);
    min-height: 100vh;
    .Content{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        .Main{
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 50px;
            .Description{
                color:var(--primary-color);
                display: flex;
                justify-content: center;
                border-radius: 12px;
                height: 100%;
                width:70%;
                border: 2px solid white;
                padding: 30px;
                #left{
                    width: 100%;
                    margin: 12px;
                    h2{
                        font-size: 35px;
                    }
                    p{
                        
                        span{
                            opacity: 0.5;
                        }
                    }
                }   
                #left>*{
                    margin: 12px;
                }
                #right{
                    width: 100%;
                    margin: 12px;
                    p{
                        opacity: 0.6;
                    }
                }
                #right>*{
                    margin: 12px;
                }
                
            }
            a{
                width:250px;
                position: relative;
                #play{
                    position: absolute;
                    top: 35%;
                    left: 30%;
                    font-size: 100px;
                    color: var(--primary-color);
                    display: none;
                }
                img{
                    height: 90%;
                    width: 100%;
                }
                &:hover img{
                    opacity: 0.6;
                    transition: all 0.2s linear;
                    border: 1px solid var(--primary-color);
                }
                &:hover  #play{
                    display: block;
                }
            }

        }
        .Recommend{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 50%;
            h1{
                color: var(--primary-color);
                font-size: 40px;
            }
            .Cards{
                display: flex;
                flex-wrap: wrap;
                .Card{
                    .Image{
                        img{
                            height: 200px;
                        }
                    }
                }
            }
            .Cards>*{
                margin: 30px;
            }
        }
    }

}

@media screen  and (max-width:1650px){
    .MoviePage{
        .Content{
            .Main{
                .Description{
                    #left{
                        h2{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen  and (max-width:1350px){
    .MoviePage{
        flex-direction: column;
        .SideNav{
            height: auto;
            width: 90%;
            h1{
                font-size: 40px;
            }
            .line{
                display: none;
            }
            .catgry{
                flex-direction: row;
                flex-wrap: wrap;
                margin: 10px 0px;
                h3{
                    padding: 15px 15px 15px 15px;
                    margin-right: 12px;
                }
            }
            .catgry>*{
                margin: 5px;
            }
        }
        .Content{
            .Main{
                flex-direction: column;

                .Description{
                    flex-direction: column;
                    #right{
                        padding: 0px;
                    }
                    #left{
                        padding: 0px;
                        h2{
                            font-size: 20px;
                        }
                    }
                }
                img{
                    width: 200px;
                    height: 60%;
                    margin: 25px;
                }
            }
            .Recommend{
                h1{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen  and (max-width:800px){
    .MoviePage{
        .Content{
            .Main{
                flex-direction: column;
                img{
                    margin:30px 0px;
                }
                .Description{
                    padding: 25px;
                    width: 80%;
                }
            }
        }
        .Recommend{
            h1{
                font-size: 20px;
            }
        }
    }
}